.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 6rem;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: rgb(129, 129, 129);
  font-size: 1rem;
}

.header-menu > li:hover {
  cursor: pointer;
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  .header > :nth-child(2) {
    position: fixed;
    right: 2rem;
    z-index: 99;
  }

  .header-menu {
    flex-direction: column;
    background-color: var(--appColor);
    padding: 2rem;
  }
}
